.l-header
	background-image: url("../img/pattern.png")
	// padding-right: 10%
	// padding-left: 10%
	
	.l-header-content
		max-width: 960px
		background-color: $white
		margin: 0 auto
		height: 135px
		position: relative
		@extend .l-header

		@media only screen and (max-width: 970px)
			height: 230px

		@media only screen and (min-width: 768px)
			height: 230px !important

		@media only screen and (min-width: 971px)
			height: 135px !important

		@media only screen and (min-width: 970px)
			display: block

	.l-header-mini
		height: 330px

		@media only screen and (min-width: $screen-sm-min)
			// display: none

		