doctype html
html(lang="en")
  head
    title= PresentWishList
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript' src="assets/js/jquery-2.1.4.min.js")
    script(type='text/javascript' src="assets/js/functions.js")
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Signika")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Signika:300")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu:500")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Pacifico")

  body
    .l-header 
      .l-header-content
        .sign
          button.register
            a(href="#")
              span.register-icon
              span register
          button.login
            a(href="#")
              span.login-icon
              span login
        a(href="#").headerLogo
          img(src="assets/img/logo.png", alt="header logo")
        .header-nav
          a(href="#").text-uppercase.nav-font home
          a(href="#").text-uppercase.nav-font create a list
          a(href="#").text-uppercase.nav-font now it works

    .l-main
      .l-main-content
        .chose-your-presents
          .chose-header 
            p Chose Your Presents
          .steps
            button
              a(href="#") ◀ back
            p Step 2 of 2
            hr
          .search
            p
              | Search for your products using the search function below. To add an item to your list, hover over 
              | the item and click the “Add to list” button.
            form
              input(type="search" placeholder="Search for your presents!")
              a(href="#")
                .search-icon
            hr

          .gallery

            .item.item1
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/amazon.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list
          
            .item.item2
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/john-lewis.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list
          
            .item.item3
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/amazon.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list
          
            .item.item4
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/john-lewis.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list
          
            .item.item5
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/amazon.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list
          
            .item.item6
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/amazon.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list
          
            .item.item7
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/john-lewis.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list
          
            .item.item8
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/amazon.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list
          
            .item.item9
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/john-lewis.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list

            .item.item10
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/john-lewis.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list

            .item.item11
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/john-lewis.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list

            .item.item12
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/john-lewis.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list

            .item.item13
              .cover
              .red-bg
              a(href="#").item-name Siku - 1:87 Scale - Low Loader With John ... 
              a(href="#").item-price £19.55
              a(href="#").category Tractors
              a(href="#").by By:
                img(src="assets/img/john-lewis.png", alt="amazon")
              button.add-to-list Add to list
              button.view-item 
                img(src="assets/img/search-red-icon.png", alt="find red icon").search-red-icon
                span View item
              button.more-options 
                span More Options
                img(src="assets/img/dropdown-arrow.png", alt="dropdown arrow").dropdown-arrow
                .dropdown-content
                  .remove
                    img(src="assets/img/close-red-icon.png", alt="remove item icon").close-red-icon
                    span Remove item
                  .re-assing
                    img(src="assets/img/re-assign.png", alt="remove item icon").re-assign-red-icon
                    span Re-assign item
              .already
                img(src="assets/img/checked.png", alt="")
                p This item has already been added to your list
                
          .note
              p Please note, not all prices displayed will be accurate. 

        .wish-list
          .wishlist-header
            a(href="#").link-icon
              img(src="assets/img/link-icon.png", alt="share icon")
            a(href="#").list-header-text My Present Wishlist
            a(href="#").pencil-icon
              img(src="assets/img/pencil-icon.png", alt="edit icon")
          .article
            .pages
            a(href="#")
              img(src="assets/img/article-cover-1.png", alt="article-cover").article-cover-1
            .article-text
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dolorem, qui...
            a(href="#").read-more Read more »
            img(src="assets/img/clip1.png", alt="clip").clip1
            hr
            hr
          .item-wishlist
            //- Сюди копіюється блоки за допомогою jQuery із блоку .gallery
            .list-empty
                p
                  | Please search for items to add to your list, using the search function opposite.
                  br
                  br
                  | Add up to x12 presents for free!
          .share
            hr
            hr
            .share-button 
              a(href="#") Save & Share

    .l-footer
      .l-footer-content
        a(href="#").footerLogo
          img(src="assets/img/logo.png", alt="footer logo")
        .social
          a(href="https://www.facebook.com").facebook
          a(href="https://twitter.com").twiiter
        .footer-nav
          ul
            li
              a.text-uppercase(href="#").nav-font home
            li
              a.text-uppercase(href="#").nav-font register
            li
              a.text-uppercase(href="#").nav-font login
            li
              a.text-uppercase(href="#").nav-font create a list
            li
              a.text-uppercase(href="#").nav-font how it works
            li
              a.text-uppercase(href="#").nav-font faq
            li
              a.text-uppercase(href="#").nav-font contact
        .copyright
          p Copyright 2013 Present Wishlist. All rights reserved.