
.chose-your-presents
	@extend .l-header
	display: inline-block
	max-width: 500px
	margin: 40px 35px 23px 0
	padding: 20px 35px
	border-radius: 0.3em
	box-shadow: 0px 0px 8px 0px rgb(100,100,100)

	

	@media only screen and (max-width: $screen-xs-max)
		min-width: 250px
		padding: 10px
		margin: 40px 0px 20px 0px

	@media only screen and (max-width: 1014px)
		max-width: 40%

	@media only screen and (max-width: 880px)
		max-width: 500px

	.chose-header
		font-size: 50px
		color: $cherry
		font-family: 'Signika', Courier, monospace
		font-weight: 300
		text-align: center

		p
			margin: 0

	.steps
		position: relative

		button
			background-color: $cherry
			letter-spacing: 1px
			padding: 0px 5px
			position: absolute
			left: 0
			min-width: 80px
			// display: inline

			a
				color: $white
				letter-spacing: 0.1px
				
				&:hover
					color: $yellow

				i
					display: inline
					margin: 6px 0px 0px 5px

				.back
					display: inline
					margin-left: 5px

					&:before
						content: "\f0d9"
						font-family: FontAwesome
				
		p
			display: inline-block
			text-align: center
			margin: 0 70px
			font-size: 20px
			color: $text

		hr
			margin: 10px 0 20px 0

	.search
		p
			font-size: 16px
			color: #8f8f8f
			font-family: 'Ubuntu', sans-serif
			line-height: 18px
			letter-spacing: 0.3px

		form
			position: relative

			input[type="search"]
				height: 50px
				width: 98%
				background-image: url("../img/pattern-search.png")
				font-size: 20px
				border-radius: 0.3em
				border: 1px solid #ccc

				@media only screen and (max-width: $screen-xs-max)
					width: 95%
					font-size: 16px

			input[placeholder]
				padding-left: 10px
				color: #000


			.search-icon
				height: 25px
				width: 25px
				// float: right
				position: absolute
				right: 10px
				top: 15px
				background-image: url("../img/search-icon.png")

				@media only screen and (max-width: $screen-xs-max)
					right: 15px

	.gallery
		height: 660px
		overflow-x: scroll
		overflow-x: hidden
		padding-top: 3px

		.item
			width: 130px
			display: inline-block
			margin-bottom: 20px
			margin-right: 5px
			text-align: left
			line-height: 16px
			padding: 10px
			position: relative
			cursor: pointer

			&:hover
				background-color: #fff
				vertical-align: top
				box-shadow: 0px 0px 5px 0px rgb(100,100,100)

				.by
					display: none
					color: #000

					img
						vertical-align: middle
						margin-left: 3px


				.add-to-list
					display: none
					margin: 10px 0 0 0

				.item-price
					display: block

				.category
					display: none

				.view-item
					display: none

				.more-options
					display: none



			.cover
				height: 120px
				width: 110px
				margin: 0 auto
				border: 7px solid white
				box-shadow: 0px 1px 3px 0px rgb(100,100,100)
				margin-top: 10px

			.item-name
				font-size: 14px
				margin: 10px 0 0 0
				display: block
				font-family: 'Signika'
				font-weight: 300
				color: #1b75ba

			.item-price
				color: $cherry
				line-height: 16px

			.by
				display: none

			.add-to-list
				display: none
				background: #2cbb0e
				background: -webkit-linear-gradient(#43c623, #21a70a) /* Standard syntax */
				background: -o-linear-gradient(#43c623, #21a70a) /* Standard syntax */
				background: linear-gradient(#43c623, #21a70a) /* Standard syntax */
				box-shadow: 0px 1px 3px 0px rgb(0,0,0)
				height: 40px
				border-radius: 0.4em
				font: 14px  "Ubuntu", serif
				font-weight: bold
				width: 100%
				height: 40px

			.category
				display: none

			.view-item
				display: none

			.more-options
				display: none

			img
				position: absolute
				top: 30%
				right: 50%
				margin-right: -20px

			.already
				width: 140px
				height: 228px
				background: #fff
				position: absolute
				display: none
				top: 0
				left: 0
				box-shadow: 0px 0px 3px 0px rgb(100,100,100)
				padding: 5px
				filter: alpha(opacity=90)
				opacity: 0.90

				p
					text-align: center
					margin-top: 70%
					font: 16px "Signika", sans-serif
					color: #1b75ba

			.dropdown-content
				display: none



		.item1
			.cover
				background-image: url("../img/item-cover-1.png")
				background-position: -20px -20px

		.item2
			.cover
				background-image: url("../img/item-cover-2.png")
				background-position: -20px -20px
		.item3
			.cover
				background-image: url("../img/item-cover-3.png")
				background-position: -20px -20px
		.item4
			.cover
				background-image: url("../img/item-cover-4.png")
				background-position: -20px -20px
		.item5
			.cover
				background-image: url("../img/item-cover-5.png")
				background-position: -20px -20px
		.item6
			.cover
				background-image: url("../img/item-cover-6.png")
				background-position: -20px -20px
		.item7
			.cover
				background-image: url("../img/item-cover-7.png")
				background-position: 5px 5px
		.item8
			.cover
				background-image: url("../img/item-cover-8.png")
				background-position: 5px 5px
		.item9
			.cover
				background-image: url("../img/item-cover-9.png")
				background-position: 5px 5px
		.item10
			.cover
				background-image: url("../img/item-cover-9.png")
				background-position: 5px 5px
		.item11
			.cover
				background-image: url("../img/item-cover-9.png")
				background-position: 5px 5px
		.item12
			.cover
				background-image: url("../img/item-cover-9.png")
				background-position: 5px 5px
		.item13
			.cover
				background-image: url("../img/item-cover-9.png")
				background-position: 5px 5px

	.note
		p
			display: block
			text-align: center
			color: $text
			font-family: 'Ubuntu', serif
			margin: 20px 0 10px 0
