.header-nav
	display: inline-block
	position: absolute
	right: 5px
	top: 60px

	@media only screen and (max-width: 970px)
		position: static
		// margin-top: 35px
		text-align: center
		width: 100%
		display: none
		margin: 20px auto

	a
		margin: 0 5px 0 40px
		font-size: 18px
		font-weight: 600

		@media only screen and (max-width: 767px)
			display: block
			margin-left: 0

	@media only screen and (min-width: 768px)
		display: inline-block !important

.hamburger
	display: none
	position: static
	margin-top: 30px

	.fa-bars
		cursor: pointer

	@media only screen and (max-width: 767px)
		display: block
		text-align: center

.footer-nav
	text-align: center
	// margin: -3px

	ul
		list-style: none
		padding: 0px
		margin-bottom: 0px
	
		li
			display: inline-block
			margin: 13px
			font-weight: bold

			@media only screen and (max-width: 767px)
				display: block