.social
	width: 140px
	padding-left: 9px
	margin: 0 auto
	padding-bottom: 15px
	.facebook
		background-image: url("../img/social.png")
		height: 46px
		width: 46px
		display: inline-block
		margin: 0 11px
		&:hover
	.twiiter
		@extend .facebook
		background-position: 46px