.wish-list
	@extend .l-header
	display: inline-block
	margin-top: 40px
	margin-bottom: 40px
	max-width: 350px
	min-width: 250px
	height: 974px
	vertical-align: top
	border-radius: 0.3em
	box-shadow: 0px 0px 8px 0px rgb(100,100,100)

	.wishlist-header
		height: 60px
		width: 100%
		background-image: url("../img/wishlist-header.png")
		background-position: -2px
		border-radius: 0.3em
		position: relative



		.list-header-text
			font-size: 20px
			display: block
			text-align: center
			color: $white
			font-family: 'Ubuntu', sans-serif
			font-weight: bold
			padding-top: 11px

			@media only screen and (max-width: $screen-xs-max)
				font-size: 16px
				padding-top: 15px

			@media only screen and (max-width: 350px)
				font-size: 14px

			&:hover
				color: $lime

		.link-icon
			position: absolute
			left: 15px
			top: 8px
			height: 21px
			width: 21px
			padding: 10px 
			border: 1px solid #333
			border-radius: 0.3em
			box-shadow: 0px 1px 0px 0px rgb(120,120,120), 0px 1px 0px 0px rgb(150,150,150) inset, -0.8px 0px 1px 0px rgb(75,75,75) inset

			&:hover
				border: 1px solid #000

			img
				height: 21px
				margin-left: 2px

		.pencil-icon
			position: absolute
			right: 15px
			top: 8px
			height: 21px
			padding: 10px
			border: 1px solid #333
			border-radius: 0.3em
			box-shadow: 0px 1px 0px 0px rgb(120,120,120), 0px 1px 0px 0px rgb(150,150,150) inset, -0.8px 0px 1px 0px rgb(75,75,75) inset

			img
				height: 21px
			
			&:hover
				border: 1px solid #000

	.article
		position: relative

		.pages
			background-image: url("../img/pages2.jpg")
			height: 13px
			width: 100%
			background-position: -2px

		.article-cover-1
			float: left
			padding: 10px
		
		.article-text
			text-align: justify
			font: 1.2em 'Pacifico', cursive
			margin-top: 5px
			line-height: 25px
			color: #464545
			padding: 10px 30px 10px 10px

		.read-more
			text-decoration: underline
			font: 12px "Ubuntu", serif
			float: left
			color: #a3acb3

			&:hover
				color: #000

		.clip1
			position: absolute
			left: -3px
			top: 50px

		hr
			margin: 5px 2px

	.item-wishlist
		overflow-x: scroll
		overflow-x: hidden
		height: 635px
		padding: 0 10px

		.item	
			display: inline-block
			margin: 15px 0
			text-align: left
			border-radius: 0.4em

			&:hover
				background-image: url("../img/shape-38.png")
				background-size: cover

				.view-item
					display: block
					position: absolute
					height: 40px
					left: 30px
					top: 20px
					background: #f7f7f7
					color: $hoverItem
					font: 15px "Ubuntu", serif
					font-weight: 500
					text-transform: none
					word-spacing: 0.1px

				.more-options
					display: block
					position: absolute
					height: 40px
					right: 20px
					top: 20px
					background: #f7f7f7
					color: $hoverItem
					font: 15px "Ubuntu", serif
					text-transform: none
					font-weight: 500
					word-spacing: 0.1px

			.cover
				height: 70px
				width: 70px
				border: 5px solid white
				box-shadow: 0px 1px 3px 0px rgb(100,100,100)
				float: left
				display: block
				margin-right: 10px
				background-position: cover

			.item-name
				font: 1.2em 'Pacifico', cursive
				color: #1b75ba
				line-height: 20px
				display: block

				&:hover
					color: $orange

			.item-price
				color: $cherry
				font: 14px "Ubuntu", serif
				font-weight: 500
				display: block

			.by
				display: block
				img
					vertical-align: middle
					margin-left: 5px

			.add-to-list
				display: none

			.category
				@extend .add-to-list

			.view-item
				display: none

			.more-options
				display: none
			
			.already
				display: none

				p, img
					display: none

			

	.share

		hr
			margin: 5px 2px

		
		.share-button
			margin-top: 25px
			height: 91px
			background-image: url("../img/share-button-bg.png")
			background-position: -2px 1px
			border-radius: 0.3em
			border-top-left-radius: 0px
			border-top-right-radius: 0px
			font: bold 28px 'Ubuntu', sans-serif
			line-height: 90px
			vertical-align: middle
			
			a
				border: 1px solid #333
				border-radius: 0.2em
				padding: 10px 75px
				box-shadow: 0px 1px 0px 0px rgb(120,120,120), 0px 1px 0px 0px rgb(150,150,150) inset, -0.8px 0px 1px 0px rgb(75,75,75) inset
				color: #fff
				
				&:hover
					color: $lime
					border: 1px solid #000

				@media only screen and (max-width: $screen-xs-max)
					font-size: 16px
					// padding: 15px 100px
					text-align: center
